@font-face {
	font-family: "HammsFont";
	src: url('../fonts/Aspire-DemiBold.ttf') format('truetype');
}

body {
	/*background-color: lightblue;
*/	background-image: url(../images/brick-wall.jpg);
	background-size: cover;
	/*height: 100%;*/
	/*overflow: hidden;*/
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#ui-row {
	display: flex;
	background-color: #E8B94F;
	justify-content: space-around;
	align-items: center;
	height: 60px;
	width: 800px;
	border: 1px solid black;
	border-bottom: 0;
	/*padding: 20px;*/
	/*margin-bottom: 10px;*/
}

.ui-text{
	color: white;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	background-color: #E8B94F;


}

canvas {
	/*position: relative;*/
	border: 1px solid black;
	background-color: rgb(74, 83, 96);
	/*background-image: url(../images/bar-wall.jpg);*/
	/*display: flex;
	justify-content: center;
	align-items: center;*/
}

#title {
	height: 100px;
	width: 550px;
	font-size: 80px;
	/*line-height: 100px;*/
	font-weight: bold;
	font-family: "helvetica", sans-serif;
	text-align: center;
	border-radius: 10px;
	border: 5px solid #00529C;
	margin: 10px;
	color: #D31F3C;
	background-color: white;

	/*color: #E8B94F;   blue and gold
	background-color: #00529C;*/
	font-family: 'Pinyon Script', cursive;
}

div {
	text-align: center;
}


#board-container {
	display: inline-block;
	/*background-color: orange;*/
	position: relative;
}

/*#board-container div*/ 
#message-container {
	/*background-color: green;*/
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#message-container {
	/*background-color: green;*/
}

#death-text {
	color: #D31F3C;
}

#winner-message {
	margin-top: 10px;
	color: #E8B94F;
}

h1 {
	/*height: 200px;
	width: 200px;*/
	/*position: absolute;*/
	/*top: 0px;*/
	border: solid 4px #00529C;
	margin: 0;
	background-color: white;
	padding: 10px;
	font-size: 50px;
	border-radius: 10px;
	
	/*font-family: "HammsFont", truetype;*/
	font-family: 'Pinyon Script', cursive;
	text-align: center;
}

button {
	height: 50px;
	width: 150px;
	border-radius: 10px;
	margin-top: 10px;
	line-height: 50px;
	border: 4px solid black;
	font-family: 'Pinyon Script', cursive;
}

#message-container button {
	font-size: 23px;
	background-color: #00529C;
	color: white;
}

#button-box {
	/*position: absolute;*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/*background-color: blue;*/
	width: 320px;
}

#start-screen {
	background-color: #00529C;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 800px;
	width: 800px;
	border: 1px solid black;
	display: flex;
	justify-content: space-around;
	align-items: space-around;
}

#start-button {
	color: #D31F3C;
	font-size: 28px;
}

p {
	text-align: center;
	font-family: 'Pinyon Script', cursive;
	font-size: 50px;
	color: white;

}

footer {
	max-height: 20px;
	background-color: black;
	opacity: 0.5;
	width: 100%;
	text-align: right;
	color: white;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	position: absolute;
	bottom: 0;
}
/*#start-image {
	height: 50%;
	width: 50%;
}*/





