body {
	/*background-color: lightblue;
*/	background-image: url(../images/brick-wall.jpg);
	background-size: cover;
	height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#ui-row {
	display: flex;
	background-color: black;
	justify-content: space-around;
	align-items: center;
	height: 60px;
	width: 800px;
	/*padding: 20px;*/
	/*margin-bottom: 10px;*/
}

.ui-text{
	color: white;
	font-size: 18px;
	font-family: "helvetica", sans-serif;


}

canvas {
	position: relative;
	border: 1px solid black;
	background-color: rgb(74, 83, 96);
	/*background-image: url(../images/bar-wall.jpg);*/
	/*display: flex;
	justify-content: center;
	align-items: center;*/
}

#title {
	height: 100px;
	width: 620px;
	font-size: 80px;
	line-height: 100px;
	font-weight: bold;
	font-family: "helvetica", sans-serif;
	text-align: center;
	border-radius: 5px;
	border: 3px solid white;
	margin: 10px;
	color: #E8B94F;
	background-color: #00529C;
}

div {
	text-align: center;
}


#board-container {
	display: inline-block;
	/*background-color: orange;*/
	position: relative;
}

/*#board-container div*/ 
#message-container {
	/*background-color: green;*/
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#message-container {
	/*background-color: green;*/
}

#winner-message {
	margin-top: 10px;
}

h1 {
	/*height: 200px;
	width: 200px;*/
	/*position: absolute;*/
	/*top: 0px;*/
	margin: 0;
	color: black;
	background-color: #E8B94F;
	padding: 10px;
	font-size: 50px;
	border-radius: 5px;
	border: solid 1px black;

}

button {
	height: 50px;
	width: 100px;
	background-color: lightgray;
	color: black;
	border-radius: 5px;
	margin-top: 10px;
	font-size: 16px;
	border: 1px solid black;
}

#button-box {
	/*position: absolute;*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/*background-color: blue;*/
	width: 230px;

}

